* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing  : border-box;
    z-index: 1;
    font: 1rem sans-serif;
}

/* Hero page */

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(netflix_image.jpg);
    position: relative;
}

.bgimage {
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    background-color: black;
}

/* Header */

.header {
    height: 6rem;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimage {
    fill: rgb(229, 9, 20);
    padding: 0.5rem;
}

.headerbox2 {
    display: flex;
}

.language {
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-right: 0.8rem;
    background-color: transparent;
    color: white;
    border-radius: .25rem;
    appearance: none;
}

.language > option {
    color: black;
}

.signin {
    padding: .5rem .8rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s linear;
}

.hover_change:hover{
    background-color: rgb(189, 28, 28);
}

.title {
    height: 80vh;
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

.content > h3 {
    font-size: 1.5rem;
}

.content > p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.getStarted {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.getStarted > input[type="email"] {
    height: 50px;
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    background-color: transparent;
    filter: brightness(150%);
    border: 1px solid rgb(93, 91, 91);
    border-radius: 0.25rem;
}

.getStarted > button {
    width: 250px;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: red;
    border: none;
    border-radius: 0.25rem;
    transition: all 0.5s linear;
}

.main {
    background-color: black;
}

.subPage, .reasonPage, .questionsPage, .emailStarted {
    width: 80vw;
    margin: auto;
}

.heading2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 3rem;
}

.subCards {
    margin: 1rem 0px;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.card1 {
    height: 32vh;
    width: 24%;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to top, #2c0617, #831246);
    opacity: .85;
}

.card1_heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.about_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.about1 {
    font-size: 18px;
    display: block;
}

.price {
    font-size: 1.2rem;
}

.card2 {
    height: 38vh;
    width: 24%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: rgb(23,17,66);
    background: linear-gradient(135deg, rgba(23,17,66,1) 33%, rgba(44,6,23,1) 100%);
    position: relative;
    opacity: 0.85;
}

.card2_heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about2 {
    font-size: 16px;
    display: block;
}

.images {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.questions {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.question {
    margin-top: .5rem;
    max-width: 100%;
    padding: 1.5rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s linear;
}

.question:hover {
    background-color: rgb(73, 71, 71);
}

.question > p {
    font-size: 1.5rem;
}

.add > i {
    font-size: 2.5rem;
    font-weight: 100;
}

.answer {
    display: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(43, 42, 42);
    line-height: 2rem;
    margin-top: 0.05rem;
}

.emailStarted > p {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.emailStarted > .getStarted {
    width: 80%;
}

.footer {
    background-color: #000;
}

.foot {
    width: 75vw;
    margin: auto;
}

.contact {
    padding: 2rem 0rem;
    opacity: .7;
}

.number {
    opacity: 1.2;
    text-decoration: underline;
    cursor: pointer;
}

.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
    opacity: .7;
}

.link {
    width: 18rem;
    height: 2rem;
}

.link > a {
    font-size: 14px;
}

.copy {
    opacity: .7;
    font-size: 14px;
    padding: 2.5rem 0rem 6rem 0rem;
}

@media only screen and (max-width: 800px){
    .header {
        width: 96%;
        margin-bottom: 1rem;
    }

    .title {
        width: 90%;
    }

    .content > h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    
    .content > p {
        text-align: center;
    }

    .title > .getStarted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .title > .getStarted > button {
        width: 175px;
        padding: .7rem;
        display: flex;
        justify-content: center;
    }

    .subPage, .reasonPage, .questionsPage, .emailStarted {
        width: 90vw;
        margin: auto;
    }

    .subCards {
        flex-wrap: wrap;
    }

    .heading2 {
        padding-top: 2rem;
    }

    .card1 {
        width: 100%;
        height: 25vh;
    }

    .card2 {
        width: 100%;
        height: 30vh;
    }

    .questions {
        width: 100%;
    }

    .question {
        padding: 1rem;
    }

    .question > p {
        font-size: 1rem;
    }

    .add > i {
        font-size: 1.5rem;
    }

    .answer {
        font-size: 1rem;
    }

    .foot {
        width: 80vw;
    }

    .emailStarted {
        display: flex;
        flex-direction: column;
    }

    .emailStarted > .getStarted {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .emailStarted > .getStarted > button{
        width: 175px;
        padding: .7rem;
    }

}















